<p id="notice"><%= notice %></p>

<p>
  <strong>Grade:</strong>
  <%= @assessment.grade %>
</p>

<p>
  <strong>User:</strong>
  <%= @assessment.user %>
</p>

<%= link_to 'Edit', edit_assessment_path(@assessment) %> |
<%= link_to 'Back', assessments_path %>
