= bootstrap_form_for(discipline) do |f|
  = render 'layouts/error_messages', object: discipline
  .field
    = f.text_field :name
  .row
    .col-md-6
      .field
        = f.date_select :beginsOn
    .col-md-6
      .field
        = f.date_select :endsOn
  .vertical-spacer-sm
  .actions
    = f.submit "Enregistrer", :class => "btn btn-default";
