%h1 Edition du compte de #{@user.firstName} #{@user.lastName}

= form_for @user do |f|
  = render 'layouts/error_messages', object: @user
  .field
    = f.label :approved
    = f.check_box :approved

  %h2 Roles

  - Role.all.each do | available_role |
    = check_box('userRoles', available_role.name, {checked: (@user.has_role? available_role.name)}, '1')
    = label 'userRoles', available_role.name, available_role.name
    %br

  %h2 Informations du profil

  .field
    = f.label :firstName
    %br/
    = f.text_field :firstName
  .field
    = f.label :lastName
    %br/
    = f.text_field :lastName
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  .field

  .actions
    = f.submit "Mettre à jour"

= link_to 'Revenir à la liste des utilisateurs', users_path