%h1.text-center
  Gestion des utilisateurs
.vertical-spacer-sm

%table.table.table-striped
  %thead
    %tr
      %th Prénom
      %th Nom
      %th Email
      %th Validé par un administrateur
      %th Modifier
      %th Supprimer
  %tbody
    - @users.each do |user|
      %tr
        %td= user.firstName
        %td= user.lastName
        %td= mail_to user.email
        %td= user.approved ? 'Oui' : 'Non'
        %td= link_to 'Modifier', edit_user_path(user)
        %td= link_to 'Supprimer', user_path(user), method: :delete, data: { confirm: 'êtes vous sûr ?' }