%h1.text-center changer de mot de passe
= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = render 'layouts/error_messages', object: resource
  = f.hidden_field :reset_password_token
  .field
    - pwLengthIndication = ' (' + @minimum_password_length.to_s + ' caractères minimum)'
    = f.password_field :password, autocomplete: "off", label: 'Nouveau mot de passe ' + pwLengthIndication
  .field
    = f.password_field :password_confirmation, autocomplete: "off", label: "Confirmer le nouveau mot de passe"
  .actions
    = f.submit "Changer mon mot de passe"
.vertical-spacer-sm
= render "users/shared/links"
