%h1 Edition des notes pour l'examen #{@exam.title} (#{@exam.discipline.name})
%br

- if not @exam.discipline.students.empty?
  = form_tag exam_update_assessments_path(@exam) do
    %table.table
      %tr
        %th Etudiant
        %th Note
      - @assessments.each do |a|
        %tr
          %td= a.student.firstName + ' ' + a.student.lastName
          %td= number_field_tag 'assessments[' + a.id.to_s + '][grade]', a.grade, {min: '0', max: '20'}

    = button_tag 'Enregistrer'

  = link_to 'Retour à la liste des examens', exams_path
- else
  %p Aucun étudiant n'est inscrit à la matière #{@exam.discipline.name}...
  = link_to 'Inscrire des étudiants à la matière ' + @exam.discipline.name, discipline_edit_students_path(@exam.discipline)