%h1.text-center= t 'devise.invitations.edit.header'

= bootstrap_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f|
  = render 'layouts/error_messages', object: resource
  = f.hidden_field :invitation_token

  - if f.object.class.require_password_on_accepting
    .field
      = f.password_field :password, autocomplete: "off"
  .field
    = f.password_field :password_confirmation, autocomplete: "off"

  %p= f.submit t("devise.invitations.edit.submit_button")
