%h1.text-center Demander la création d'un compte
= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render 'layouts/error_messages', object: resource
  .field
    = f.text_field :firstName
  .field
    = f.text_field :lastName
  .field
    = f.email_field :email, autofocus: true
  .field
    - pwLengthIndication = ' (' + @minimum_password_length.to_s + ' caractères minimum)'
    = f.password_field :password, autocomplete: "off", label: 'Mot de passe ' + pwLengthIndication
  .field
    = f.password_field :password_confirmation, autocomplete: "off"
  .vertical-spacer-sm
  .actions
    = f.submit "Valider"

.vertical-spacer-sm
= render "users/shared/links"
